layout poetry
export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
{%- if cookiecutter.use_system_certificate_store == "y" %}
export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
{%- endif %}
export LANG=C.UTF-8
